/* Formatting relative to index.html --> */
html,
body {
  height: 100%;
  font-family: var(--type_font);
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  height: 97%;
  width: 100%;
}

.left-login,
.right-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.left-login-image {
  width: 600px;
  max-width: 400px;
  height: auto;
}

.right-login {
  align-items: center;
  background-color: var(--color_light);
}

.card-login {
  width: 450px;
  padding: 30px;
  background: var(--color_regular);
  border-radius: 20px;
  box-shadow: 10px 10px 20px -12px;
  color: var(--white);
  box-sizing: border-box;
}

.card-login h1 {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: var(--font_size_medium_high);
}

.textfield label {
  display: block;
  margin-bottom: 10px;
  font-size: var(--font_size_medium_low);
}

.textfield input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background: var(--color_dark);
  color: var(--white);
  font-size: var(--font_size_small);
  box-shadow: 5px 5px 20px -12px;
  outline: none;
}

.textfield input::placeholder {
  font-size: var(--font_size_small);
  color: var(--color_light);
}

.btn-login {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-size: var(--font_size_medium_low);
  font-weight: 700;
  letter-spacing: 3px;
  color: var(--white);
  background: var(--color_dark);
  cursor: pointer;
  box-shadow: 5px 5px 20px -12px;
  margin-top: 30px;
}

.btn-login:hover {
  background-color: var(--color_light);
}
