/* Creating variables CSS*/
:root{
    --color_light: rgb(186, 190, 201);
    --color_regular: rgb(93, 166, 202);
    --color_dark: rgb(9, 32, 44);
    --white: white;
    --black: black;
    --color_high_priority: red;
    --color_medium_priority: rgb(180, 180, 27);
    --color_low_priority: green;
    --type_font: sans-serif;
    --font_size_small: 16px;
    --font_size_medium_low: 20px;
    --font_size_medium_high: 26px;
    --font_size_large: 28px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--type_font);
    font-size: var(--font_size_large);
    text-align: left;
    background-color: var(--color_dark);
    padding: 2px;
    color: var(--white);
}

footer{
    width: 100%;
    height: 25px;
    font-family: var(--type_font);
    font-size: var(--font_size_medium_low);
    color: var(--white);
    text-align: center;
    bottom: 0;
    background: var(--color_regular); 
}

#pic-container {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.profile-pic {
    max-height: 100%; 
    display: block;
}

.profile-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
 
footer p{
    margin: 0;
}