body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
}

.container {
    display: flex;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(130, 194, 247);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

#logged-in-username {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: medium;
}

#container_profile_btn{
    text-align: center;
}

.profile_btn {
    padding: 10px 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white);
    background: var(--color_regular);
    cursor: pointer;
    box-shadow: 5px 5px 20px -12px;
    font-size: medium;
}

.profile_btn:hover {
    background-color: var(--color_dark);
}

#profile_titlePage{
    cursor: pointer;
    width: 26%;
    height: auto;
    margin: 3%;
}

/*Botões que abrem Modals*/
#profile_changeBtns {
    display: flex;
}

#profile_changeBtns input[type="button"] {
    padding: 10px 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white);
    background: var(--color_regular);
    cursor: pointer;
    box-shadow: 5px 5px 20px -12px;
    font-size: medium;
}

#profile_changeBtns input[type="button"]:hover {
    background-color: var(--color_dark);
}

  /*Modal Photo*/
  #myModalPhoto {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
 }

 .modalContent {
    display: flex;
    margin: auto;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 2px solid gray;
 }

 .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-radius: 3px;
    padding: 5px 10px;
    width: 100%;
 }
 
 .close {
    color: #000000;
    cursor: pointer;
    margin-left: auto;
 }
 
 .close:hover,
 .close:focus {
    color: #242424;
 }

 #pic-containerModal {
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

#profile-picModal {
    max-height: 100%; 
    display: block;
}

#profile_url{
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#profile_savePhoto{
    width: 120px;
    padding: 10px 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white);
    background: var(--color_regular);
    cursor: pointer;
    box-shadow: 5px 5px 20px -12px;
    font-size: medium;
}

/*Modal password*/

#passwordModal {
display: none;
position: fixed;
z-index: 10;
padding-top: 100px;
left: 0;
top: 0;
align-items: center;
width: 100%;
height: 100%;
overflow: auto;
}

#changePasswordForm{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#profile_savePass{
    width: 225px;
    padding: 10px 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white);
    background: var(--color_regular);
    cursor: pointer;
    box-shadow: 5px 5px 20px -12px;
    font-size: medium;
}