/* Formatação relativa à scrum.html --> */
/* Formatação relativa a todo o body do documento html */
body {
  background-color: var(--white);
  font-family: var(--type_font);
  font-size: var(--font_size_medium_low);
  color: var(--white);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.btn-nav {
  padding: 1%;
  margin-left: 2%;
  border: none;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--white);
  background: var(--color_regular);
  cursor: pointer;
  box-shadow: 5px 5px 20px -12px;
  font-size: var(--font_size_small);
}

.btn-nav:hover {
  background-color: var(--color_dark);
}

#scrum_btn_logout{
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 0;
  padding: 3%;
  margin-top: 2%;
}

.left-menu,
.center-menu,
.right-menu {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--color_regular);
  border-radius: 10px;
  box-shadow: 5px 5px 20px -12px;
  margin: 30px;
}

.left-menu {
  justify-content: flex-start;
}

.cards {
  height: 280px;
  width: 340px;
  margin-top: 10px;
  padding: 5px;
  background-color: var(--color_dark);
  color: var(--white);
  border-radius: 10px;
  overflow: auto;
}

.high-priority{
  background-color: var(--color_high_priority);
}

.medium-priority{
  background-color: var(--color_medium_priority);
  color: var(--color_dark);
}

.low-priority{
  background-color: var(--color_low_priority);
}

.card-header {
  border-radius: 6px;
  box-shadow: 5px 5px 20px -12px;
  margin: 10px;
  border: 2px solid var(--color_regular);
  cursor: pointer;
  text-align: left;
  padding: 5px;
  font-family: var(--type_font);
  font-size: var(--font_size_small);
}

.card-header:hover {
  background-color: var(--color_light);
}

.task-options button {
  padding: 4px;
  margin-bottom: 10px;
  border: 2px solid var(--color_regular);
  background-color: var(--color_light);
  cursor: pointer;
  font-family: var(--type_font);
  font-size: var(--font_size_small);
  display: inline-block; 
}

.task-options button:hover {
  background-color: var(--color_dark);
  color: var(--white);
}

/* Formatação relativa às tasks.html --> */

.task-form {
  width: 100%;
  padding: 30px;
  background: var(--color_regular);
  border-radius: 10px;
  box-shadow: 5px 5px 20px -12px;
  margin: 20 auto;
}

#taskH1 {
  font-family: var(--type_font);
  color: var(--white);
  font-size: var(--font_size_medium_high);
  text-align: left;
}

.containerT {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-submit {
  width: 30%;
  padding: 14px 0;
  margin: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  color: var(--white);
  background: var(--color_dark);
  cursor: pointer;
  box-shadow: 5px 5px 20px -12px;
  font-size: var(--font_size_medium_high);
}

.btn-submit:hover {
  background-color: var(--color_regular);
}

.textfield {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background: var(--color_dark);
  color: var(--white);
  font-family: var(--type_font);
  font-size: var(--font_size_medium_low);
  box-shadow: 5px 5px 20px -12px;
  text-transform: uppercase;
}

.textfield label {
  display: block;
  margin-bottom: 5px;
  font-family: var(--type_font);
  color: var(--white);
  width: 400px;
  font-size: var(--font_size_medium_low);
  font-weight: 700;
}

.newTask_textarea,
.editTask_textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background: var(--color_light);
  color: var(--color_dark);
  font-family: var(--type_font);
  font-size: var(--font_size_small);
  box-shadow: 5px 5px 20px -12px;
  border: 2px solid var(--color_regular);
  word-wrap: break-word;
  resize: none;
}

#newTask_title::placeholder,
#newTask_description::placeholder {
  font-family:var(--type_font);
  font-size: var(--font_size_small);
  color: var(--color_dark);
}

#logged-in-username{
  cursor: pointer;
}

#logged-in-username:hover{
  text-decoration: underline;
}

#scrum_logo{
    width: 26%;
    height: auto;
    margin: 3%;
}
